/*
Palette:
#504c49 grigio scuro
#d32456 magenta
#9a4e64 violetto più scuro
#916f8a violetto più chiaro
#a8a7a7 grigio chiaro
#ebd6b9 cremetta
#fff2cf cremetta2
*/

@import url(http://fonts.googleapis.com/css?family=Crafty+Girls);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans|Paprika|Short+Stack|Maiden+Orange|Original+Surfer|Sofadi+One|Sunshiney);

      body {
        margin:0;
        padding:0;
      }
            /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height:100%;
      }
      html{
        background-color:#000000;
        background-attachment: fixed !important;
        background: -moz-linear-gradient(top, #916f8a 0%, #000000 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#916f8a), color-stop(100%,#000000));
        background: -webkit-linear-gradient(top, #916f8a 0%,#000000 100%);
        background: -o-linear-gradient(top, #916f8a 0%,#000000 100%);
        background: -ms-linear-gradient(top, #916f8a 0%,#000000 100%);
        background: linear-gradient(to bottom, #916f8a 0%,#000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#504c49', endColorstr='#000000',GradientType=0 );
      }
      body{
        background:transparent;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
        background-color: #ebd6b9;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      footer{
        height: 40px; 
        background: #fff2cf;
background: -moz-linear-gradient(top, #ebd6b9 0%, #fff2cf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff2cf), color-stop(100%,#ebd6b9));
background: -webkit-linear-gradient(top, #ebd6b9 0%,#fff2cf 100%);
background: -o-linear-gradient(top, #ebd6b9 0%,#fff2cf 100%);
background: -ms-linear-gradient(top, #ebd6b9 0%,#fff2cf 100%);
background: linear-gradient(to bottom, #ebd6b9 0%,#fff2cf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd6b9', endColorstr='#fff2cf',GradientType=0 );
      }
      #footer p{
        color:#916f8a;
        font-size:9pt;
        text-align:center;
      }

/* #Site Styles
================================================== */

#wrap{
  width:960px;
}
.container.products{
background: #fff2cf;
background: -moz-linear-gradient(top, #fff2cf 0%, #ffffff 26%, #ebd6b9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff2cf), color-stop(26%,#ffffff), color-stop(100%,#ebd6b9));
background: -webkit-linear-gradient(top, #fff2cf 0%,#ffffff 26%,#ebd6b9 100%);
background: -o-linear-gradient(top, #fff2cf 0%,#ffffff 26%,#ebd6b9 100%);
background: -ms-linear-gradient(top, #fff2cf 0%,#ffffff 26%,#ebd6b9 100%);
background: linear-gradient(to bottom, #fff2cf 0%,#ffffff 26%,#ebd6b9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2cf', endColorstr='#ebd6b9',GradientType=0 );
  margin-top:70px;
  padding-top:0px;
  z-index: 1;
}
.container.contatti{
  text-align: center;
}
.ribbon-before{
  background:transparent url("../images/ribbon-mg-top-home.png") no-repeat bottom center; 
  padding-bottom:50px;
  position: relative;
  z-index:1000;
}
.ribbon{
  background:transparent url("../images/ribbon-mg-bg-home.png") repeat-y top center; 
}
.ribbon-after{
  background:#ebd6b9 url("../images/ribbon-mg-bottom-home.png") no-repeat top center; 
  padding-top:30px;
}

/* Text layers */
h1, h2, h3, p, a{
  /*Paprika,Short+Stack,Maiden+Orange,Original+Surfer,Sofadi+One,Sunshiney*/
  /*Short Stack,Original Surfer,Sofadi One,Sunshiney*/
  font-family: 'Short Stack', sans-serif;
}
a, a:link, a:active, a:visited{

}
a:hover{
    opacity:0.90;
}
.white h3 a,.white h3, .white p,  .white a, .white small{
  color:#fff2cf;
}

.products h1, .products h2, .products h3, .products h1 a, .products h2 a, .products h3 a, .products h3  a:visited, .products h3 a:link {
  text-align: center;
  font-size:20pt;
}
.products .news h1, .products .news h2,  .products .news h3, .products .news h1 a, .products .news h2 a,  .products .news h3 a{
  color:#ebd6b9;
  font-size:15pt;
}
h1{
  font-size:27pt;
}
h2{
  font-size:18pt;
}
h3{
  font-size:15pt;
}
.contatti p, .contatti label, .contatti h3{
  color:#999;
}
.date, .white .date, .read-more, .white .read-more{
  font-style: italic;
  
  clear:both;
  display:block;
}
.read-more{
  text-align:right;
  clear:both;
  display:block;
}
.white .read-more{
  text-align:right;
  color:#fff2cf; 
}

.image-container{
   display:block;
   float:left;
   padding: 5px 20px 0 0;
}
/* Menu */

header{
  background:transparent url("../images/ribbon-vl-home-bg.png") no-repeat center top;
  top:10px;
  text-align: center;
  width:960px;
  position:absolute;
  z-index: 1000;
}
header #logo{
  margin:auto;
  top:-5px;
  position:relative;
  animation:logo-enter 1s linear 1, pulsate 2s ease-in-out infinite;
  -webkit-animation:logo-enter 1s linear 1, pulsate 2s ease-in-out infinite;
}
header #logo a{
  margin:auto;
  display:block;
  height:150px;
  width:150px;
  background:transparent url("../images/logo-home.png") no-repeat center top; 
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
header #logo a:hover{
    -moz-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
    opacity:1;
}
/* menu */

#menu{
  margin:auto;
  padding:0;
  padding-bottom: 5px;
  text-align:center;
  min-height:160px;
}
#menu ul{
  margin:auto;
  padding:0 10px;
}
#menu ul li{
  display:inline-block;
  line-height:30px;
  min-width:100px;
  vertical-align: top;
  -webkit-border-radius: 0px 0px 25px 25px;
        border-radius: 0px 0px 25px 25px;
}
#menu ul li:hover{
  -webkit-transition: all 0.2s ease-out; 
     -moz-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out; 
          transition: all 0.3s ease-out; 
  background-color:#d32456;
}

#menu ul .li-logo:hover{
  background-color:transparent;
}
#menu ul li:not(.li-logo) a{
  display:block;
  padding:0 25px;
  padding-top:5px;
  line-height:25px;
  text-decoration: none;
  animation:menu-enter 1.5s;
  -webkit-animation:menu-enter 1.5s; /* Safari and Chrome */
}

#menu ul li:not(.li-logo):hover a{
  -webkit-transition: all 0.3s ease-in-out; 
     -moz-transition: all 0.3s ease-in-out; 
       -o-transition: all 0.3s ease-in-out; 
          transition: all 0.3s ease-in-out; 
  text-decoration: none;
  color:#fff2cf;
}

#menu ul li, #menu ul li a{
  font-family:Sunshiney;
  font-size: 13pt;
  color:#fff;
}


/* main content*/

.ribbon-before{

}

/* Products */
#slides {
      display: none;
      animation:menu-enter 3s;
  -webkit-animation:menu-enter 3s; /* Safari and Chrome */
    }

    .slidesjs-container{
      z-index:1;
    }
    .slidesjs-pagination {
      margin: auto;
      list-style: none;
      text-align: center;
      margin-right:300px;
    }

    .slidesjs-pagination li {
      display: inline-block;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      margin:0px 2px;
      background-color:#ccc;
      float: left;
      overflow: hidden;
      border:1px solid #d32456;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-color:#d32456;
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }


.product{
  padding: 40px 0;
  display:block;
}
.product-odd{
  padding-top: 110px;
}
.product p{
  font-size:12pt;
}
.product img{
  margin:0 10px;
}
.product-odd{
  
}
.product-even{
  border-top:3px dashed #fff2cf;
  background: #ebd6b9;
}
.product-odd, .product-even,
.product-odd:before, .product-even:before,
.product-odd:after, .product-even:after
{
  display:block;
  clear:both;
}

/* News */
.news-container{
  float:right;
  position:absolute;
  right:0;
  height:100%;
  z-index:10;
  background:transparent url("../images/news-bg-home.png") repeat-y top center;
  animation:menu-enter 2.5s;
  -webkit-animation:menu-enter 2.5s; /* Safari and Chrome */

} 
/* Limit news teaser to 140-170 chars */

.news{
  margin:10px auto;
  padding:20px;
  padding-bottom:60px;
}
.products .news .news-title{
  font-family:Sunshiney;
  font-size: 30pt;
  margin-bottom:40px;
}
.news p.metadata{
  font-size:10px;
}


/* Q point */
.ribbon{
  padding:30px 0 10px 0;
}
.ribbon p{
  font-size:10pt;
}
.ribbon h3, .ribbon h2, .ribbon h1{
  font-size:18pt;
}
.qpoint-container{
  background:transparent url("../images/qpoint-bg-home.png") no-repeat center center;
  display:block;
  height:100%;
}
.qpoint-container, .qpoint-container:after, .qpoint-container:before{
  display:block;
  clear:both;
  content:' ';
}
.qpoint{
  width:100%;
}

/* Contatti */
.container.contatti form {
width:210px;
margin:auto;
}
/* Animation */


@keyframes menu-enter
{
0% { opacity: 0;}
60% { opacity: 0;}
}
@-webkit-keyframes menu-enter
{
0% { opacity: 0;}
60% { opacity: 0;}
}

@keyframes logo-enter
{
from {
top:-200px;
  transform: rotate(-50deg);
  -ms-transform: rotate(-50deg); /* IE 9 */
}
to {
top:-5px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg); /* IE 9 */
}
}

@-webkit-keyframes logo-enter /* Safari and Chrome */
{
from {
  top:-200px;
  -webkit-transform: rotate(-50deg); /* Safari and Chrome */
}
to {
  top:-5px;
  -webkit-transform: rotate(0deg); /* Safari and Chrome */
}
}

@keyframes pulsate
{
0% {
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg); /* IE 9 */
}
40% {
  transform: rotate(3deg);
  -ms-transform: rotate(3deg); /* IE 9 */
}
100% {
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg); /* IE 9 */
}
}

@-webkit-keyframes pulsate /* Safari and Chrome */
{
0% {
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg); /* IE 9 */
}
40% {
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg); /* IE 9 */
}
100% {
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg); /* IE 9 */
}

}
